body {
    background: #1c3641;
}

/* EasyStream */
.Easystream-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    align-items: center;
    text-align: center;

    color: #ef824f;
}

/***** IMAGES *********/
.logoImg {
    position: absolute;
    width: 236px;
    height: 118px;
    left: -50px;
    top: -10px;
}

.profilImg {
    position: absolute;
    left: 90%;
    top: 3.25%;
    width: 5%;
}

.videoImg {
    position: absolute;
    width: 562px;
    height: 290px;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
}

.lastNedImg {
    position: absolute;
    width: 621px;
    height: 148px;
    left: 50%;
    top: 91%;
    transform: translate(-50%, -50%);
}

/*For lettere streaming*/
.par1 {
    position: absolute;
    left: 190px;
    top: 51%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #edf1f4;
}

/*Designe hvordan du vil at live-sendingen din skal se ut*/
.li1 {
    position: absolute;
    left: 5%;
    top: 60%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #edf1f4;
}

/*Planlegge programmet for live-sendingen din*/
.li2 {
    position: absolute;
    left: 5%;
    top: 65%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #edf1f4;
}

/*Bytte kamera under live-sendingen*/
.li3 {
    position: absolute;
    left: 5%;
    top: 70%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #edf1f4;
}

/*Starte en live-sending*/
.li4 {
    position: absolute;
    left: 5%;
    top: 75%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #edf1f4;
}

/*Informasjon om vårt produkt*/
.par2 {
    position: absolute;
    left: 65%;
    top: 51%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #edf1f4;
}

/*Velg hvilke templates, hvor .......*/

.liA {
    position: absolute;
    left: 55%;
    right: 5%;
    top: 60%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #edf1f4;
}

/* Lag sendingsplan, se over manus, innstillinger på kamera etc. */

.liB {
    position: absolute;
    left: 55%;
    right: 5%;
    top: 66%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #edf1f4;
}

/** Go-live. Dra evt overlays...**/

.liC {
    position: absolute;
    left: 55%;
    right: 5%;
    top: 70%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #edf1f4;
}
