/** MANUS GJENNOMGANG OVERSKRIFT ********/
.Manus-header {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    padding: 30px;
    align-items: center;
    text-align: center;

    color: white;
}


/****** IMAGES********/

.manusImg2 {
    position: absolute;
    width: 720px;
    left: 2%;
    top: 18%;

}

/******  SØK ETTER MANUS // SKRIV MANUS BUTTONS *****/
.søk-manus-btn {
    position: absolute;
    width: 229px;
    height: 39px;
    left: 58%;
    top: 19%;

    font-size: 17px;

}

.skriv-manus-btn {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 79%;
    top: 19%;

    font-size: 17px;
}

/****  4 BUTTONS  *******/

.sponsor-btn {
    position: absolute;
    width: 244px;
    height: 35px;
    left: 925px;
    top: 34%;

    background: #EDF1F4;
    border-radius: 128.5px;

    font-size: 17px;
}

.fotball-btn {
    position: absolute;
    width: 244px;
    height: 35px;
    left: 926px;
    top: 42%;

    background: #EDF1F4;
    border-radius: 128.5px;

    font-size: 17px;

}

.review-btn {
    position: absolute;
    width: 244px;
    height: 35px;
    left: 925px;
    top: 50%;

    background: #EDF1F4;
    border-radius: 128.5px;

    font-size: 17px;

}

.start-btn {
    position: absolute;
    width: 244px;
    height: 35px;
    left: 925px;
    top: 58%;

    background: #EDF1F4;
    border-radius: 128.5px;

    font-size: 17px;
}

/** 2 BUTTONS: TILBAKE TIL PLANLEGGER & TIL SENDINGSOVERSIKT ***/
.tilbake-btn {
    position: absolute;
    width: 302px;
    height: 50px;
    right: 806px;
    top: 90%;

    background: #EF824F;
    border-radius: 23px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;


    color: #1C3641;


}

.til-oversikt-btn {
    position: absolute;
    width: 302px;
    height: 50px;
    right: 184px;
    top: 90%;

    background: #EF824F;
    border-radius: 23px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;


    color: #1C3641;

}

/**** SCROLLABLE MANUS ****/

#ScrollableTextBox{

    box-sizing: border-box;
    position: absolute;
    left: 5%;
    right: 50%;
    top: 20%;
    font-size: 20px;
    font-family: sans-serif;
    background: white;
   
    }
