.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #162B34;
    color: #ED814F;
    
}

.nav-menu {
    display: flex;
    
    justify-self: start;
}
.nav-profile {
    transform: scale(4);
    padding-right: .9rem;
    padding-top: 0.3rem;
    
}
.nav-logo {
    padding-left: .4rem;
}

li {
    padding: 0 1rem;
}


@media screen and (max-width: 940px) {
    
}